@import "tailwindcss";

@theme {
    --color-background: #121212;
    --color-primary-foreground: #e0e0e0;
    --color-primary: #4CAF50;
    --color-secondary: #9c27b0;
    --color-card: #2C2C2C;
    --color-dim: #222222;
    --color-button: #333333;
    --color-sound-select: #2f855a;
    --color-sound-select-border: #276749;
    --color-border: #444;
    --color-button-hover: #444444;
    --color-marker: #666
}